<div class="container">
    <div class="row justify-content-center pt-5">
        <mat-card class="card col-10 col-lg-6 py-4 ">
            <div class="p-2">
                <mat-card-title class="mb-4">Login</mat-card-title>
                <form>
                    <div class="form-group">
                        <mat-form-field class="w-100" :appearance="fill" floatLabel="auto">
                            <mat-label>Username</mat-label>
                            <mat-icon matSuffix>account_circle</mat-icon>
                            <input matInput>
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field class="w-100" appearance="fill" floatLabel="auto">
                            <mat-icon matSuffix>key</mat-icon>
                            <mat-label>Password</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>

                    <button class="mat-ies-orange" mat-raised-button>Submit</button>
                </form>
            </div>
        </mat-card>
    </div>
</div>