@import "../../../../assets/scss/variables";

.nav-item {
    .nav-link {
        color: $mat-ies-blue ;
        text-transform: uppercase;
    }
}


.active {
    .nav-link {
        color: $mat-ies-orange ;
        font-weight: bold;
    }
}