@import "assets/scss/variables";

body {
    background-color: $mat-ies-blue;
    overflow: hidden;
}

.mat-ies-orange {
    background-color: $mat-ies-orange;
    color: $white;
}

.mat-ies-blue {
    background-color: $mat-ies-blue;
    color: $white;
}

.mat-ies-blue-icon {
    color: $mat-ies-blue;
}

.mat-ies-orange:disabled {
    background-color: $mat-ies-orange-disabled;
    color: $white;
    color: rgba(0, 0, 0, .26);
}