@import "scss/variables";

body {
    background-color: $mat-ies-blue;
}

.home {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://images.unsplash.com/photo-1443890923422-7819ed4101c0?fm=jpg');
    background-size: cover;
    background-attachment: fixed;
}

.mat-ies-orange {
    background-color: $mat-ies-orange;
    color: $white;
}

.mat-ies-blue {
    background-color: $mat-ies-blue;
    color: $white;
}

.mat-ies-blue-icon {
    color: $mat-ies-blue;
}

.mat-ies-orange:disabled {
    background-color: $mat-ies-orange-disabled;
    color: $white;
    color: rgba(0, 0, 0, .26);
}

.warn {
    background-color: $warn;
    color: $white;

    .mat-button-wrapper {
        color: $white;
    }
}

.success {
    background-color: $success;
    color: $white;

    .mat-button-wrapper {
        color: $white;
    }
}